---
import Header from "../components/Header.astro";
import BaseHead from "../components/BaseHead.astro";
import "../styles/prism.css";
import Prismc from "../components/Prismc.astro";
import Pagination from "../components/Pagination.astro";

export interface Props {
  title: string;
  description: string;
}

const { title } = Astro.props;
const { description } = Astro.props;

const URLBG =
  Astro.url.hostname === "localhost"
    ? "https://guiavascript.netlify.app/img/bg.svg"
    : Astro.url.protocol + "//" + Astro.url.host + "/img/bg.svg";

const NamePages = await Astro.glob("../pages/basicjs/*.astro");
---

<!doctype html>
<html lang="es">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body class="txt-white" style=`background-image: url(${URLBG});`>
    <Header NamePages={NamePages} />
    <main class="container">
      <slot />
      <Pagination NamePages={NamePages} />
    </main>
    <footer>
      <p>
        <a href="https://developer.mozilla.org/es/docs/Web/JavaScript"
          >Consulta más en MDN</a
        >
      </p>
      <Prismc codep="^_~" />
    </footer>
    <style>
      body {
        background-repeat: no-repeat !important;
        background-size: cover !important;
        background-position: center !important;
      }
      footer {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #000;
      }
      footer p a {
        color: #ffffff;
        text-decoration: none;
        font-size: 1.2rem;
        margin: 0;
        margin-right: 10px;
      }
    </style>
  </body>
</html>
